@page "/MyToDos"
@inject ILogger<MyToDos> Logger
@inject IDbContextFactory<ApplicationDbContext> DbFactory

<h3>My ToDos</h3>

<EditForm Model="myToDo">
	<InputText @bind-Value="myToDo.Description" />
	<button type="submit" @onclick="InsertToDo">Add</button>
</EditForm>

<ul>
	@foreach (var item in myToDos)
	{
		<li>
			<InputCheckbox @bind-Value="item.IsComplete" @oninput="() => ToggleComplete(item)" />
			@item.Description
		</li>
	}
</ul>

@code {
	private ToDo myToDo = new ToDo();
	private List<ToDo> myToDos = [];

	protected override async Task OnInitializedAsync()
	{
		await Refresh();
	}

	private async Task Refresh()
	{
		using var db = DbFactory.CreateDbContext();
		myToDos = await db.ToDos.ToListAsync();
	}	

	private async Task ToggleComplete(ToDo row)
	{
		// row is in its original state without the checkbox change.
		// for some reason the @onchange event is not firing, 
		// so I have to use @oninput, and toggle the bool value manually.
		row.IsComplete = !row.IsComplete; 
		using var db = DbFactory.CreateDbContext();		
		db.Update(row);
		await db.SaveChangesAsync();
	}

	private async Task InsertToDo()
	{
		using var db = DbFactory.CreateDbContext();
		await db.ToDos.AddAsync(myToDo);
		await db.SaveChangesAsync();
		myToDo = new ToDo();
		await Refresh();
	}
}
